aenum==3.1.15
aiohttp==3.9.5
aiosignal==1.3.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.11.0
asgiref==3.8.1
asttokens==2.4.1
attrs==23.2.0
auto-py-to-exe==2.44.2
blinker==1.7.0
bottle==0.13.1
bottle-websocket==0.2.9
cachetools==5.3.3
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
ddddocr==1.5.5
debugpy==1.8.6
decorator==5.1.1
Deprecated==1.2.14
distlib==0.3.8
Django==5.0.6
django-widget-tweaks==1.4.8
docutils==0.22.3
Eel==0.17.0
et-xmlfile==1.1.0
executing==2.1.0
feedgenerator==2.2.1
filelock==3.14.0
Flask==3.0.2
flask-cors==5.0.1
Flask-JWT-Extended==4.7.1
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.4.1
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
google-ai-generativelanguage==0.6.15
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-generativeai==0.8.4
googleapis-common-protos==1.63.2
greenlet==3.1.1
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
httplib2==0.22.0
humanfriendly==10.0
idna==3.6
ipykernel==6.29.5
ipython==8.28.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
line-bot-sdk==3.11.0
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.5
nest-asyncio==1.6.0
numpy==2.0.0
oauthlib==3.2.2
onnxruntime==1.19.2
opencv-python==4.13.0.92
openpyxl==3.1.2
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.2
parso==0.8.4
pefile==2023.2.7
pelican==4.11.0.post0
pi==0.1.2
pillow==10.2.0
platformdirs==4.2.2
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==5.27.2
psutil==6.0.0
pure_eval==0.2.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pydantic==2.7.4
pydantic_core==2.18.4
Pygments==2.18.0
pygsheets==2.0.6
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
PyJWT==2.10.1
PyMySQL==1.1.1
pyparsing==3.1.2
pypdf==5.0.0
pyreadline3==3.5.4
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytube==15.0.0
pytz==2020.1
pywin32==306
pywin32-ctypes==0.2.2
pyzmq==26.2.0
requests==2.31.0
requests-oauthlib==2.0.0
rich==14.2.0
rsa==4.9
selenium==4.16.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.3.1
stack-data==0.6.3
sympy==1.13.3
tesseract==0.1.3
tk==0.1.0
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
trio==0.23.2
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.1
Unidecode==1.4.0
uritemplate==4.1.1
urllib3==2.1.0
virtualenv==20.26.2
watchfiles==1.1.1
wcwidth==0.2.13
webdriver-manager==4.0.2
Werkzeug==3.0.1
whichcraft==0.6.1
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
zope.event==5.0
zope.interface==7.0.3
